<!DOCTYPE html>
<html>
  <head>
    <title>CMS17 setup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>
  <body>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            CMS17
          </h1>
          <h2 class="subtitle">
            A <strong>amazing</strong> content management system!
          </h2>
        </div>
      </div>
    </section>

    <div class="container">
      <section class="section">
        <div class="columns">
          <div class="column is-three-fifths is-primary">
            <p>
              CMS17 is a content management system geared towards <strong>easy extension</strong>.
              Because of this the CMS itself is pretty barebones and requires plugins to be written.
              The page and navigation plugin do allow a basic website to start building upon! <strong>Good luck!</strong>
            </p>
            @warning@
          </div>
          <div class="column">
            @form@
          </div>
        </div>
      </section>
    </div>

  </body>
</html>
