html {
  background-image: url("/file/core/default/image/background.png");
}

.mainContent {
  position: relative;
}

.floatImage {
  position: absolute;
}

.container.is-fluid {
  margin-left: 32px;
  margin-right: 32px;
  !important
}
