<!DOCTYPE html>
<html>
  <head>
    <title>@@title@@</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="Jari's website">
    <meta name="author" content="Jari Stephan">
    <link rel="stylesheet" href="/file/normalize.css" />
    <link rel="stylesheet" href="/file/skeleton.css" />
    <link rel="stylesheet" href="/file/style.css" />
  </head>
  <body>

    <div class="section hero">
        <div class="row">
          <div class="one-half column logo">
            <img class="logo-big" src="file/title.png" alt="@@title@@" />
            <img class="logo-small" src="file/titleSmall.png" alt="@@title@@" />
          </div>
          <div class="one-half column navigation">
            <div class="navigation-text">@@navigation@@</div>
          </div>
        </div>
    </div>

    <div id="mystery-div"></div>

    <div class="container">
      <img class="th-float-image" style="left: -200px; top: 100px;" src="file/triforce.png" alt="" />
      <img class="th-float-image" style="right: -250px; top: 200px;" src="file/block.png" alt="" />
      <img class="th-float-image" style="left: -250px; top: 400px;" src="file/carrot.png" alt="" />
      <img class="th-float-image" style="right: -200px; top: 5px;" src="file/s.png" alt="" />

      <div>
        @@content@@
      </div>

      <div>
        @@pluginContent@@
      </div>
    </div>

  </body>
</html>
