<!DOCTYPE html>
<html>
  <head>
    <title>@@title@@</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="file/bulma.css">
    <link rel="stylesheet" type="text/css" href="file/style.css">
  </head>
  <body>

    <div class="container is-fluid">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <img class="is-hidden-mobile" src="file/title.png" alt="@@title@@" />
            <img class="is-hidden-tablet" src="file/titleSmall.png" alt="@@title@@" />
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            @@navigation@@
          </div>
        </div>
      </nav>
    </div>

    <div class="container mainContent">
      <img class="floatImage" style="left: -200px; top: 100px;" src="file/triforce.png" alt="" />
      <img class="floatImage" style="right: -250px; top: 200px;" src="file/block.png" alt="" />
      <img class="floatImage" style="left: -250px; top: 400px;" src="file/carrot.png" alt="" />
      <img class="floatImage" style="right: -200px; top: 5px;" src="file/s.png" alt="" />
      <section class="section">
        @@content@@
      </section>
      <section class="section">
        @@pluginContent@@
      </section>
    </div>

  </body>
</html>
