<script>
  function submit() {
    var data = $('#form').serializeArray();
    var url = "/post/";
    $.each(data, function(key, field) {
      url += field['name']+"/"+field['value']+"/";
    });
    $.ajax({
      url: url,
      success: function(result) {
        window.location.replace("/admin/tags");
      }
    });
  }
</script>

<form id="form">
  <div class="field">
    <input name="panel" value="tag" type="hidden" placeholder="Text input" required>
    <input name="action" value="new" type="hidden" placeholder="Text input" required>
    <label class="label">Tag title</label>
    <div class="control">
      <input class="input" name="tagName" type="text" placeholder="Text input" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Tag value</label>
    <div class="control">
      <input class="input" name="tagValue" type="text" placeholder="Text input" required>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <a onclick="submit()" class="button is-link">Create tag</a>
    </div>
    <div class="control">
      <a class="button is-text" href="/admin/tags">Cancel</a>
    </div>
  </div>
</form>
