<ul class="uk-grid-small uk-child-width-1-4 uk-margin" uk-sortable="handle: .uk-card" uk-grid>
    <li>
      <div class="uk-card uk-card-body uk-card-primary uk-text-center">
        <span class="uk-h3 uk-text-bold uk-text-middle">13,400</span>
        <span class="uk-text-middle">visitors</span>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-body uk-card-secondary uk-text-center">
        <span class="uk-h3 uk-text-bold uk-text-middle">56</span>
        <span class="uk-text-middle">active visitors</span>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-body uk-card-primary uk-text-center">
        <span class="uk-h3 uk-text-bold uk-text-middle">@@totalPlugins@@</span>
        <span class="uk-text-middle">plugins</span>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-body uk-card-secondary uk-text-center">
        <span class="uk-h3 uk-text-bold uk-text-middle">@@activePlugins@@</span>
        <span class="uk-text-middle">active plugins</span>
      </div>
    </li>
</ul>
