<section class="hero is-info welcome is-small">
   <div class="hero-body">
     <div class="container">
       <h1 class="title">
         Welcome admin!
       </h1>
       <h2 class="subtitle">
         Enjoy the slick control panel.
       </h2>
     </div>
   </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">@@totalPlugins@@</p>
        <p class="subtitle">Plugins</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">@@activePlugins@@</p>
        <p class="subtitle">Active plugins</p>
      </article>
    </div>
  </div>
</section>

<section>
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        Message log
      </p>
    </header>
    <div class="table">
        <table class="table is-fullwidth">
          <thead>
            <tr><td>Invoker</td><td>Type</td><td>Message</td><tr>
          </thead>
          <tbody>
            <tr><td>PluginEngine</td><td>Error</td><td>Plugin 'test' requires non-existant service 'fantasy'.</td></tr>
            <tr><td>DatabaseService</td><td>Warning</td><td>Plugin 'test' tried to access unregistered table table.</td></tr>
            <tr><td>PluginEngine</td><td>Error</td><td>Plugin 'test' requires non-existant service 'fantasy'.</td></tr>
          </tbody>
        </table>
    </div>
  </div>
</section>
