body {
  min-height: 100vh;
}

.tm-sidebar {
    box-sizing: border-box;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    transition: left 0.5s;
}
.tm-main.tm-sidebar-hidden .tm-sidebar {
  left: -300px;
}

.tm-main {
  min-height: 100vh;
}

.tm-holder {
    padding-left: 300px;
    -webkit-transition: padding-left 0.5s;
    -moz-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
}
.tm-main.tm-sidebar-hidden .tm-holder {
  padding-left: 0;
}

.tm-toggle {
  padding: 4px !important;
}
.tm-toggle.table {
  display: none;
}
.tm-main.tm-sidebar-hidden .tm-toggle.close {
  display: none;
}
.tm-main.tm-sidebar-hidden .tm-toggle.table {
  display: inline-block;
}

.tm-padding {
  padding: 28px;
}
.uk-card {
  box-sizing: border-box;
}

@media screen and (max-width: 959px) {
  .tm-holder {
    padding-left: 0;
    overflow-x: hidden;
  }
  .tm-wrapper {
    width: 100vw;
  }
  .tm-main.tm-sidebar-hidden .tm-holder {
    padding-left: 300px;
  }
  .tm-sidebar {
    left: -300px;
  }
  .tm-main.tm-sidebar-hidden .tm-sidebar {
    left: 0;
  }
  .tm-toggle.table {
    display: inline-block;
  }
  .tm-toggle.close {
    display: none;
  }
}
