<section class="hero is-info welcome is-small">
   <div class="hero-body">
     <div class="container">
       <h1 class="title">
         Hi!
       </h1>
       <h2 class="subtitle">
         This whole panel is temporary and will most likely change.
       </h2>
     </div>
   </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">@totalPlugins@</p>
        <p class="subtitle">Plugins</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">@activePlugins@</p>
        <p class="subtitle">Active plugins</p>
      </article>
    </div>
  </div>
</section>

<section class="section">
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        Notices
      </p>
    </header>
    <div class="card-table">
      <div class="content">
        <table class="table is-fullwidth is-striped">
          <tbody>
            <tr><td>Hello</td></tr>
            <tr><td>This is notice!</td></tr>
            <tr><td>So is this.</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
