<section>
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        List of plugins
      </p>
    </header>
    <div class="card-table">
      <div class="content">
        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Key/Folder</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @pluginList@
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
