<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CMS17 - @@title@@</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/file/bulma.css" />
  <link rel="stylesheet" href="/file/admin.css" />
<body>

  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item brand-text">
          CMS17 control panel
        </div>
      </div>
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="columns">
      <div class="column is-3">
          <aside class="menu">
              @@navigation@@
          </aside>
      </div>
      <div class="column is-9">
        @@page@@
      </div>
    </div>
  </div>
</body>
</html>
