<nav class="uk-panel uk-background-primary uk-light uk-padding-small">
  <button class="tm-toggle table" type="button" uk-toggle="target: .tm-main; cls: tm-sidebar-hidden" uk-icon="icon: table; ratio: 1.6"></button>
  <button class="tm-toggle close" type="button" uk-toggle="target: .tm-main; cls: tm-sidebar-hidden" uk-icon="icon: close; ratio: 1.6"></button>

  <div class="uk-button-group uk-float-right">
    <button class="uk-button uk-button-default">Jari Stephan</button>
    <div uk-dropdown="mode: hover; pos: bottom-right; boundary: ! .uk-button-group; boundary-align: true;">
      <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">USER MENU</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
