<div class="tm-sidebar tm-padding uk-background-secondary uk-light">
  <h1 class="uk-heading-divider">CMS17</h1>
  <ul class="uk-nav uk-nav-default">
    <li class="uk-nav-header">SYSTEM</li>
    <li>
      <a href='/admin'>
        <span class="uk-margin-small-right" uk-icon="icon: home"></span>
        Dashboard
      </a>
    </li>
    <li>
      <a href='/admin/pages'>
        <span class="uk-margin-small-right" uk-icon="icon: file-edit"></span>
        Pages
      </a>
    </li>
    <li>
      <a href='/admin/tags'>
        <span class="uk-margin-small-right" uk-icon="icon: tag"></span>
        Tags
      </a>
    </li>
    <li>
      <a href='/admin/log'>
        <span class="uk-margin-small-right" uk-icon="icon: album"></span>
        Log
      </a>
    </li>
    <li>
      <a href='/admin/profiler'>
        <span class="uk-margin-small-right" uk-icon="icon: clock"></span>
        Profiler
      </a>
    </li>
    <li>
      <a href='/admin/database'>
        <span class="uk-margin-small-right" uk-icon="icon: database"></span>
        Database
      </a>
    </li>
    <li>
      <a href='/admin/settings'>
        <span class="uk-margin-small-right" uk-icon="icon: cog"></span>
        Settings
      </a>
    </li>

    <li class="uk-nav-header">PLUGINS</li>
    <li>
      <a href='/admin/plugins'>
        <span class="uk-margin-small-right" uk-icon="icon: settings"></span>
        Plugin Manager
      </a>
      <ul class="uk-nav-sub">
        @@pluginNavigation@@
      </ul>
    </li>
  </ul>
</div>
